# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
.env

# VSCode / IDE
.vscode/
.idea/

# Mac / Windows
.DS_Store
Thumbs.db

# Airflow
logs/
airflow.db
*.log

# Tableau (if you export)
*.twb~
*.bak
secrets.json
data/*.csv
airflow_logs/